.toolkit-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toolkit-button.toolkit-button-color-black {
    background-color: #222222;
    color: #ffffff;
}

.toolkit-button.toolkit-button-color-green {
    color: #ffffff;
    background-color: #8dc63f;
    border-color: #80b636;
}

.toolkit-button.toolkit-button-color-purple {
    background-color: #7c38bc;
    color: #ffffff;
}

.toolkit-button.toolkit-button-color-orange {
    background-color: #f7aa47;
    color: #ffffff;
}

.toolkit-button.toolkit-button-color-pink {
    background-color: #ff6264;
    color: #ffffff;
}

.toolkit-button.toolkit-button-color-turquoise {
    background-color: #00b19d;
    color: #ffffff;
}

.toolkit-button.toolkit-button-color-lightblue {
    color: #ffffff;
    background-color: #40bbea;
    border-color: #29b3e7;
}

.toolkit-button.toolkit-button-color-blue {
    background-color: #0e62c7;
    color: #ffffff;
}

.toolkit-button.toolkit-button-color-red {
    color: #ffffff;
    background-color: #cc3f44;
    border-color: #bf3338;
}

.toolkit-button.toolkit-button-color-darkred{
    background-color: #d5080f;
    color: #ffffff;
}

.toolkit-button.toolkit-button-color-yellow{
    color: #ffffff;
    background-color: #ffba00;
    border-color: #e6a700;
}

.toolkit-button.toolkit-button-color-white {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #dddddd !important;
}

.toolkit-button.toolkit-button-color-gray {
    background-color: #eeeeee;
    color: #333333;
}

.toolkit-button.toolkit-button-size-lg{
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.33;
    border-radius: 0px;
}

.toolkit-button.toolkit-button-size-sm{
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px;
}

.toolkit-button.toolkit-button-size-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px;
}

.toolkit-button:disabled{
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.toolkit-button.toolkit-button-icon {
    line-height: 1;
}

.toolkit-button.toolkit-button-icon-standalone {
    padding: 0;
    border: 0;
    line-height: 1;
}

.toolkit-button.toolkit-button-icon-standalone i {
    float: left;
    border-right: 1px solid transparent;
}

.toolkit-button.toolkit-button-icon i {
    vertical-align: middle;
}

.toolkit-button.toolkit-button-icon-standalone i,.toolkit-button.toolkit-button-icon-standalone span {
    display: block;
    padding: 12px 12px;
}

.toolkit-button.toolkit-button-icon-standalone span {
    padding-left: 55px;
    padding-right: 13px;
}

*[class*="fa-"] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.toolkit-button.toolkit-button-red.toolkit-button-icon-standalone i {
    background-color: #c1070e;
    border-right-color: #b8070d;
}
.toolkit-button.toolkit-button-blue.toolkit-button-icon-standalone i {
    background-color: #0d59b4;
    border-right-color: #0c54aa;
}
.toolkit-button.toolkit-button-black.toolkit-button-icon-standalone i {
    background-color: #383b3c;
    border-right-color: #454849;
}
.toolkit-button.toolkit-button-green.toolkit-button-icon-standalone i {
    background-color: #63b026;
    border-right-color: #5fa724;
}
.toolkit-button.toolkit-button-purple.toolkit-button-icon-standalone i {
    background-color: #7233ac;
    border-right-color: #660066;
}
.toolkit-button.toolkit-button-orange.toolkit-button-icon-standalone i {
    background-color: #e9aa47;
    border-right-color: #ffba00;
}
.toolkit-button.toolkit-button-pink.toolkit-button-icon-standalone i {
    background-color: #ef6264;
    border-right-color: #ff8264;
}
.toolkit-button.toolkit-button-turquoise.toolkit-button-icon-standalone i {
    background-color: #00a19d;
    border-right-color: #11a19d;
}
.toolkit-button.toolkit-button-lightblue.toolkit-button-icon-standalone i {
    background-color: #22b3e7;
    border-right-color: #3fc3e7;
}
.toolkit-button.toolkit-button-darkred.toolkit-button-icon-standalone i {
    background-color: #b5080f;
    border-right-color: #98070d;
}
.toolkit-button.toolkit-button-yellow.toolkit-button-icon-standalone i {
    background-color: #ffba00;
    border-color: #f7aa47;
}
.toolkit-button.toolkit-button-white.toolkit-button-icon-standalone i {
    background-color: #f5f5f5;
    border-color: #e6e6e6;
}
.toolkit-button.toolkit-button-gray.toolkit-button-icon-standalone i {
    background-color: #eeeeee;
    border-color: #d4e6e6;
}

.toolkit-button.toolkit-button-icon-standalone.toolkit-button-icon-standalone-right span {
    padding-left: 13px;
    padding-right: 55px;
}

.toolkit-button.toolkit-button-icon-standalone.toolkit-button-icon-standalone-right i {
    float: right;
    border-left: 1px solid transparent;
    border-right: 0;
}

.toolkit-button.toolkit-button-red.toolkit-button-icon-standalone.toolkit-button-icon-standalone-right i {
    border-left-color: #b8070d;
}
.toolkit-button.toolkit-button-blue.toolkit-button-icon-standalone.toolkit-button-icon-standalone-right i {
    border-left-color: #0c54aa;
}
.toolkit-button.toolkit-button-black.toolkit-button-icon-standalone.toolkit-button-icon-standalone-right i {
    border-left-color: #454849;
}
.toolkit-button.toolkit-button-green.toolkit-button-icon-standalone.toolkit-button-icon-standalone-right i {
    border-left-color: #5fa724;
}
.toolkit-button.toolkit-button-purple.toolkit-button-icon-standalone.toolkit-button-icon-standalone-right i {
    border-left-color: #660066;
}
.toolkit-button.toolkit-button-orange.toolkit-button-icon-standalone.toolkit-button-icon-standalone-right i {
    border-left-color: #ffba00;
}
.toolkit-button.toolkit-button-blue.toolkit-button-icon-standalone.toolkit-button-icon-standalone-right i {
    border-left-color: #0c54aa;
}
.toolkit-button.toolkit-button-pink.toolkit-button-icon-standalone.toolkit-button-icon-standalone-right i {
    border-left-color: #ff8264;
}
.toolkit-button.toolkit-button-turquoise.toolkit-button-icon-standalone.toolkit-button-icon-standalone-right i {
    border-left-color: #11a19d;
}
.toolkit-button.toolkit-button-lightblue.toolkit-button-icon-standalone.toolkit-button-icon-standalone-right i {
    border-left-color: #3fc3e7;
}
.toolkit-button.toolkit-button-darkred.toolkit-button-icon-standalone.toolkit-button-icon-standalone-right i {
    border-left-color: #98070d;
}
.toolkit-button.toolkit-button-yellow.toolkit-button-icon-standalone.toolkit-button-icon-standalone-right i {
    border-left-color: #f7aa47;
}
.toolkit-button.toolkit-button-white.toolkit-button-icon-standalone.toolkit-button-icon-standalone-right i {
    border-left-color: #e6e6e6;
}
.toolkit-button.toolkit-button-gray.toolkit-button-icon-standalone.toolkit-button-icon-standalone-right i {
    border-left-color: #d4e6e6;
}